.titles {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  width: 70%;

  @media (max-width: 768px) {
    gap: 15px;
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
    color: red;

    @media (max-width: 1280px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 1280px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}